<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DalManagerType" value="FuelLog.DalSQLite.DalManager,FuelLog.DalSQLite"/>
    <!--<add key="DalManagerType" value="FuelLog.DalMock.DalManager,FuelLog.DalMock"/>-->
    <!--<add key="DalManagerType" value="FuelLog.DalEf.DalManager,FuelLog.DalEf" />-->
  </appSettings>
  <connectionStrings>
    <!--<add name="EFDbContext" connectionString="Data Source=(local)\SqlExpress;Initial Catalog=FuelLog;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="SQLiteDb" connectionString="Data Source=C:\GitRepos\Development\FuelLog\src\FuelLog.DalSQLite\Db\FuelLog.db;Version=3;"/>-->
    <!--<add name="SQLiteDb" connectionString="Data Source=C:\GitRepos\Development\FuelLog\src\FuelLog.DalSQLite\Db\FuelLog.db;Cache=Shared;"/>-->
    <!--<add name="Server" connectionString="Data Source=REWS003;Initial Catalog=FuelLog;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Server" connectionString="Data Source=C:\GitRepos\Development\FuelLog\src\FuelLog.DalSQLite\Db\FuelLog.db;Cache=Shared;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
