<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EFDbContext" connectionString="Data Source=(local)\SqlExpress;Initial Catalog=FuelLog;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="FuelLogDb" connectionString="Data Source=C:\Projekt\Development\FuelLog\Main\src\FuelLog.DalSQLite\Db\FuelLog.db;Version=3;"/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="DalManagerType" value="FuelLog.DalSQLite.DalManager,FuelLog.DalSQLite"/>-->
    <add key="DalManagerType" value="FuelLog.DalMock.DalManager,FuelLog.DalMock"/>
    <!--<add key="DalManagerType" value="FuelLog.DalSqlCe.DalManager,FuelLog.DalSqlCe" />-->
    <!--<add key="DalManagerType" value="FuelLog.DalEfModel.DalManager,FuelLog.DalEfModel" />-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
